<div class="autoscroll">
<table class="list odd-even time-entries">
<thead>
  <tr>
    <th rowspan="2"><%=l(:field_spent_on)%></th>
    <th rowspan="2"><%=l(:label_user)%></th>
    <th rowspan="2"><%=l(:label_issue)%></th>
    <th rowspan="2"><%=l(:label_fund)%></th>
    <th rowspan="2"><%=l(:label_investment)%></th>
    <th rowspan="2"><%=l(:label_receivables)%></th>
    <th colspan="3"><%=l(:label_constitution)%></th>
    <th rowspan="2"><%=l(:field_comments)%></th>
    <th rowspan="2"></th>
  </tr>
  <tr>
    <th><%=l(:label_money)%></th>
    <th><%=l(:label_work)%></th>
    <th><%=l(:label_resource)%></th>
  </tr>
</thead>
<tbody>
  <% entries.each do |entry|%>
  <tr id="time-entry-<%= entry.id %>" class="time-entry <%= cycle("odd", "even") %>">
    <td><%= "#{format_date(entry.spent_on)}" %></td>
    <td><%= "#{entry.user.lastname}#{entry.user.firstname}"%></td>
    <td><%= entry.issue.subject if entry.issue %></td>
    <td><%= entry.fund_total %></td>
    <td><%= (entry.fund_money||0)+(entry.fund_work||0)+(entry.fund_resource||0) %></td>
    <td><%= entry.fund_total - (entry.fund_money||0) - (entry.fund_work||0) - (entry.fund_resource||0) %></td>
    <td class="fund_right_align"><%= "#{format("%.2f*%d=%.2f", entry.fund_money_factor, entry.fund_money || 0, entry.fund_money_factor * (entry.fund_money || 0)) }" %></td>
    <td class="fund_right_align"><%= "#{format("%.2f*%d=%.2f", entry.fund_work_factor, entry.fund_work || 0, entry.fund_work_factor * (entry.fund_work || 0)) }" %></td>
    <td class="fund_right_align"><%= "#{format("%.2f*%d=%.2f", entry.fund_resource_factor, entry.fund_resource || 0, entry.fund_resource_factor * (entry.fund_resource || 0)) }" %></td>
    <td class=""><%= entry.comments %></td>
    <td>
      <% if is_frozen %>
        <%= link_to l(:button_unfrozen), { controller: "funds", action: "update_frozen", id: entry.id, frozen: false, url: frozen_path() } %>
      <% else %>
        <%= link_to l(:button_frozen), { controller: "funds", action: "update_frozen", id: entry.id, frozen: true, url: unfrozen_path() } %>
        <%= link_to l(:button_edit), edit_fund_path(entry),
            :title => l(:button_edit),
            :class => 'icon-only icon-edit' %>
        <%= link_to l(:button_delete), time_entry_path(entry),
            :data => {:confirm => l(:text_are_you_sure)},
            :method => :delete,
            :title => l(:button_delete),
            :class => 'icon-only icon-del' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
