<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'fund_config.css', :plugin => 'redmine_fundation_plugin' %>
<% end %>
<div id="fund-setting-nav-menu">
	<ul>
		<li style='<%= params[:controller] == "fund_role_configs" ? 'background-color:#d4e3f7;':'' %>'>
			<%= link_to l('fund_role'), :controller=>'fund_role_configs', :action=>'index' %>
		</li>
		<li style='<%= params[:controller] == "fund_factor_configs" ? 'background-color:#d4e3f7;':'' %>'>
			<%= link_to l('fund_factor'), :controller=>'fund_factor_configs', :action=>'index' %>
		</li>
	</ul>
</div>
<% html_title(l(:fund_config)) %>
